// Section Headlines
.headline-group { 
    .headline { font-family: 'Open Sans', serif; font-size: 36px; font-weight: 600; text-transform: uppercase; padding-top: 90px; text-align: center; }
    .headline-bar { width: 70px; height: 4px; background-color: $secondary; margin: 8px auto 70px auto; }
}

.max-width {
    max-width: 1700px !important;
    margin: 0 auto;
}