// Neutrals
$white: #FFFFFF;
$black: #000000;
$off-white: #FFFFF0;
$off-black: #141414;
$dark-gray: #424242;
$light-gray: #b8b8b8;

// Primaries
$primary: #CAE4DB;
$primary-2: #DCAE1D;

// Secondaries
$secondary: #00303F;
$secondary-2: #7A9D96;
$secondary-3: #EDEAE5;

// Accents
$accent: #F070A1;
// $accent: #f77cab; <--lighter option


$transition: 300ms ease-in;


// Breakpoints
$breakpoint-phone: 575px;
$breakpoint-tablet: 769px;
$breakpoint-desktop: 1350px;
$breakpoint-desktop-lrg: 1600px;